/* Style reset */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}
/* ------------------------------------------ */

.page-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.page-subtitle {
    font-size: 17px;
    text-align: center;
}

.page-subtitle__first-span {
    font-size: 22px;
    color: #ff0000;
}

.page-subtitle__second-span {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.navigation {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.navigation>a {
    margin: 15px;
}

main {
    margin-top: 30px;
}

body {
    background-color: bisque;
}

ul {
    margin-top: 35px;
}

ul>li {
    list-style: disc;
    margin-left: 20px;
    margin-top: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

p {
    font-size: 17px;
    margin-top: 10px;
    margin-left: 15px;
}
