<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Technologies</title>
    <link rel="stylesheet" th:href="@{/css/index-style.css}" href="../../static/css/technologies-style.css">
</head>
<body>
<header>
    <div>
        <h1 class="page-title">Technologies</h1>
    </div>
    <nav class="navigation">
        <a href="/index">Home</a>
        <a href="/launch">How to launch</a>
        <a href="/technologies">Technologies</a>
        <a href="/endpoints">End-Points</a>
    </nav>
</header>
<main>
    <div>
        <h2>Technologies used:</h2>
        <ul>
            <li>Spring Core</li>
            <li>Spring Web</li>
            <li>Spring Security</li>
            <li>Spring JPA Data</li>
            <li>DB: SQL, MySQL</li>
            <li>JJWT library</li>
            <li>HTML, CSS, Thymeleaf</li>
            <li>VCS: Git</li>
        </ul>
    </div>
</main>
</body>
</html>